/* BUTTONS */

/* Reset buttons */
button,
.button,
a {
    box-shadow: none;
    border: none;
    transition: all .15s ease;
    color: var(--white);
}

a[class*="button"],
button[class*="button"] {
    display: inline-flex;
    padding: 18px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;

    font-family: Jost;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button-primary {
    background: var(--white);
    color: var(--dark-grey);
}

.button-primary:hover {
    background: var(--light-peach);
    color: var(--white);
    cursor: pointer;
}

.button-secondary {
    background: var(--peach);
    color: var(--white);
}

.button-secondary:hover {
    background: var(--light-peach);
    color: var(--white);
    cursor: pointer;
}

/* LINKS */

a {
    text-decoration: none;
    color: var(--dark-grey);
}

.link-arrow svg {
    fill: var(--peach);
}

.link-arrow {
    transition: all 0.15s ease-in-out;
}

.link-arrow:hover {
    cursor: pointer;
    /* transform: translate(0, -4px); */
    gap: 1rem;
}

/* ADD TO LINK ON SIBLING HOVER OPACITY .5 */