.logo {
    line-height: 0;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}

.logo_oval {
    width: 24px;
    height: 24px;
}

.logo_designo {
    width: 152.316px;
    height: 20.544px;
}

/* .logo-header {
    width: 197px;
    height: 27px;
} */

.menu {
    gap: 42px;
}

.menu a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-decoration-line: none;
    transition: text-decoration-line 0.5s ease-in-out;
}

.menu a:hover {
    text-decoration-line: underline;
}

.header__menu {}