@import url(/css/links-and-buttons.css);
@import url(/css/menu.css);
@import url(/css/typography.css);
@import url(/css/main.css);

:root {
  --peach: #E7816B;
  --light-peach: #FFAD9B;
  --black: #1D1C1E;
  --dark-grey: #333136;
  --white: #FFFFFF;
  --light-grey: #F1F3F5;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-wrap: balance;
  color: var(--black);
}

header,
main,
footer {
  /* padding: 0 80px; */
  padding: 0 5rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}


.padding-global {
  padding: 2.5rem;
}

@media screen and (max-width: 600px) {
  .padding-global {
    padding: 1.25rem;
  }

  header,
  main,
  footer {
    /* padding: 0 80px; */
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 400px) {

  header,
  main,
  footer {
    /* padding: 0 80px; */
    padding: 0 1.25rem;
  }
}

.main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: url(../assets/images/body_bg_top.png),
    url(../assets/images/body_bg_bottom.png);
  background-repeat: no-repeat;
  background-position: left top 320px, right bottom 74px;
}


/* HERO SECTION */
.hero {
  min-height: 640px;
  border-radius: 15px;
  padding-left: 95px;
  padding-right: 95px;
  background: url(../assets/images/hero_bg_circle.png), var(--peach);
  background-repeat: no-repeat;
  background-position: right bottom, right center;
  position: relative;
  overflow: hidden;
}

.hero_content {
  max-width: 450px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;

}

.hero_img-wrapper {
  width: 284px;
  position: absolute;
  right: 90px;
  bottom: -5rem;
}

.hero-img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .hero {
    text-align: center;
    background-position: center bottom, right center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .hero_content {
    align-items: center;
    max-width: none;
  }

  .hero_img-wrapper {
    width: 300px;
    position: relative;
    right: auto;
    left: auto;
    bottom: -6rem;
  }
}

@media screen and (max-width: 500px) {
  .hero_img-wrapper {
    width: 90%;
  }
}

/* PRODUCTS */
.products-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  width: 100%;
  gap: 2rem;
}

.home_products-cards-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home_products-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem 2rem;
  border-radius: 1rem;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  gap: 1rem;
  height: 100%;
}

.home_products-card h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 2px;
}

.home_products-card a {
  color: var(--white);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}


.home_products-webdesign {
  background: url(/assets/images/products/webdesign.png);
}

.home_products-appdesign {
  background: url(/assets/images/products/appdesign.jpg);
}

.home_products-graphicdesign {
  background: url(/assets/images/products/graphicdesign.jpg);
}

.home_products-card {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
  .products-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* HOME FEATURES WRAPPER */
.home_features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 32px;
  justify-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home_features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 22rem;
  gap: 48px;
}

.home_features-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home_features-card img {
  width: 202px;
  height: 202px;
  object-fit: scale-down;
}

@media screen and (max-width: 800px) {
  .home_features-wrapper {
    display: flex;
    flex-direction: column;
  }

  .home_features-card {
    flex-direction: row;
    gap: 48px;
    max-width: none;
    align-items: center;
    text-align: left;
  }

  .home_features-content {
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .home_features-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .home_features-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* FOOTER */
.footer {
  background-color: var(--black);
  color: var(--white);
  position: relative;
  margin-top: 8rem;
  padding: 6rem 80px 4rem 80px;
}

.cta_banner {
  padding: 3rem;
  border-radius: 1rem;
  position: absolute;
  top: -10rem;
  width: calc(100% - 160px);
  max-width: 1280px;
  left: calc((100vw - 1280px) / 2);
  /* Formula to position from left */
  right: calc((100vw - 1280px) / 2);
  /* Formula to position from right */
  gap: 1rem;
  background: url(/assets/images/cta-bg.png), var(--peach);
  background-position: right center;
  background-repeat: no-repeat;
}

.cta_banner-content {
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer a {
  color: var(--white);
}

.footer_top-wrapper {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer_divider {
  width: 100%;
  height: 1px;
  background-color: var(--white);
  opacity: .1;
}

.footer_bottom-wrapper {
  opacity: .75;
  margin-top: 31px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer_bottom-column {
  font-size: 16px;
  line-height: 26px;
  /* 162.5% */
}

.footer_text-bold {
  font-weight: 700;
}

.footer_text-regular {
  font-weight: 400;
}

.footer_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  margin-top: auto;
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .cta_banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 2rem 1.25rem;
    background-size: cover;
    width: calc(100% - 60px);
  }

  .footer {
    padding-top: 12rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .footer_top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer_bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer_content,
  .footer_top-wrapper,
  .footer_bottom-wrapper,
  .footer_bottom-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    text-align: center;

  }

  .footer_content .nav_menu {
    display: flex;
    flex-direction: column;
  }
}